.Banner {
    background-color: #EB3054;
    height: 60px;

    .para-style {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-block: 16px;
    }

    .para-text {
        color: white;
        text-align: center;
    }


}